body {
    background-color: #eee;
}

.card,
.btn,
input,
nav {
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
}

.home {
    cursor: pointer;
}

.input-group {
    width: 25%;
}

.card-text {
    font-size: 14px;
}

.source {
    font-size: 12px;
}

@media only screen and (max-width: 1000px) {
    .input-group {
        width: 45%;
    }
}

@media only screen and (max-width: 600px) {
    .input-group {
        width: 70%;
    }
}